* {
    box-sizing: border-box;
    font-family: "Open Sans";
 }
 .profile {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #F5F5F5;
    background: white;
    
 }

 .description{
    text-align: center;
 }

 .avatar{
    display: block;
    width: 100%;
 }

 .stats{
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
   margin: 0;
   padding: 0;
   height: 40px;
 }